<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <object th:include="~{fragments/common :: js}" th:remove="tag"></object>
  <object th:include="~{fragments/common :: css}" th:remove="tag"></object>
  <title>Detail Gudang</title>
</head>

<body>
  <nav th:replace="~{fragments/navbar :: navbar(page = 'Gudang')}"></nav>
  <div class="container">
    <div class="card m-4 p-0">
      <div class="card-header">
        <div class="justify-content-center">
          <div class="row">
            <div class="col-md-6">
              <h2>Detail Gudang</h2>
              </div>
            <div class="col-md-6 text-right">
                <a th:href="@{/gudang/{id}/restock-barang(id=${gudang.id})}" class="btn btn-primary">+ Restock Barang</a>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body">
        <table class="table table-borderless">
          <tbody>
            <tr>
                <td class="card-text">Nama</td>
                <td class="card-text" th:text="': ' + ${gudang.nama}"></td>
            </tr>
            <tr>
                <td class="card-text">Alamat</td>
                <td class="card-text" th:text="': ' + ${gudang.alamatGudang}"></td>
            </tr>
            <tr>
                <td class="card-text font-weight-bold">Daftar barang tersedia</td>
            </tr>
              
              <table class="table table-bordered">
                <thead class="bg-dark text-white">
                    <tr>
                        <th>#</th>
                        <th>SKU</th>
                        <th>Merk</th>
                        <th>Stok</th>
                        <th>Harga</th>
                    </tr>
                </thead>
                <tbody>
                  <tr th:each="gudangbarang, iterationStatus: ${listGudangBarang}">
                    <td th:text="${iterationStatus.count}">#</td>
                    <td>
                      <a th:href="@{/barang/{sku}(sku=${gudangbarang.barang.sku})}" class="text-primary" th:text="${gudangbarang.barang.sku}">SKU</a>
                    </td>
                    <td th:text="${gudangbarang.barang.merk}">Merk</td>
                    <td th:text="${gudangbarang.stok}">Stok</td>
                    <td th:text="'Rp'+${gudangbarang.barang.hargaBarang}">Harga</td>
                  </tr>
                </tbody>
            </table>
            </tbody>
            <div class="text-center">
              <a class="btn btn-secondary" href="/gudang">Kembali</a> 
            </div>
        </table>
      </div>
    </div>
  </div>
</body>
</html>